@import url('https://fonts.googleapis.com/css?family=Jua');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:500');

* {
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
    font-weight: normal;
}

.body-center {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    text-align: center;
}

h3 {
    text-align: center;
    color: #296e81;
    font-size: 1.8em;
    padding-top: 10%;
}

a, a:hover {
    text-decoration: none;
    text-align: center;
}

/*시작 페이지*/
.gradient {
    background-image: linear-gradient(#c6eaff, white, white);
}

.btn-submit {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.1rem 1.2rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    background: #003c72;
    color: white;
    margin-top: 7%;
}

#whale-name {
    border: 1px solid transparent;
    border-bottom: 1.5px solid #003c72;
    text-align: center;
    font-size: 1.8em;
}

.btn-submit:hover {
    color: #d8ecff;
}

#whale-start {
    max-width: 300px;
    height: auto;
    margin: 5% 0 7% 0;
    animation: swing 3s ease-in-out infinite;
}

#name-msg {
    color: red;
    margin: 1em;
}

/*메인 페이지*/
#menu {
    display: inline-block;
}

.btn {
    color: #296e81;
    text-decoration: none;
    text-align: center;
    margin-left: 10%;
    font-size: 1.4em;
    font-weight: lighter;
}

.btn-img {
    width: 35px;
}

.btn-menu {
    float: left;
    margin: 1.5em;
}

#whale-main {
    width: 350px;
    animation: swing 2s ease-in-out infinite;
}

.body-main {
    background: white url("../img/background.png") no-repeat;
    background-size: 590px auto;
}

.whale-info {
    font-size: 2.5em;
    color: #003c72;
    text-shadow: 1px 1px 0 white,
    -1px -1px 0 white, 1px -1px 0 white,
    -1px 1px 0 white, 1px 1px 0 white;
}

.todo-list {
    font-size: 1.3em;
    margin: 2em 2em;
    text-align: left;
    padding: 0;
    list-style-type: none
}

li {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0.5em 0.7em;
    margin-bottom: 10px;
    background: #f2f7ff;
    color: #003c72;
    border-radius: 0.5em;
    border: 1.5px solid #003c72;
}

.checkbox {
    width: 20px;
    margin-right: 5px;
}

#new-to-do {
    font-family: 'Noto Sans KR', sans-serif;
    background: #00000000;
    border: none;
    font-size: 1.0em;
}

.btn-finish {
    float: right;
    margin-top: 5px;
}

/* 설정 */
#btn-back {
    width: 30px;
    margin: 15px;
    display: block;
}

#setting-main {
    text-align: center;
}

.setting-title {
    color: #003c72;
}

.setting-des {
    color: #19aac1;
    margin: 0.5em;
}

hr {
    margin: 2em 5em;
}

.link {
    margin-top: 1em;
    text-align: center;
}

.btn-clear {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.1rem 1.2rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    background: #003c72;
    color: white;
    margin-top: 2%;
}

h4 {
    margin-top: 10px;
    font-size: 1.1em;
}

.email {
    font-family: 'Noto Sans KR', sans-serif;
    color: #003c72;
}

/* 애니메이션 */
@keyframes swing {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

/* 웨일 */
.cssProgress {
    margin-top: 1em;
    max-width: 300px;
}